<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>AWS SES with Nest.js Demo</title>
    <!-- <script src="./view.js"></script> -->
  </head>
  <body>
    <h1>This email was sent from AWS SES</h1>
    <div>sender name : <%= senderName %></div>
  </body>
  <a href="http://localhost:3000/confirm">confirm</a>
</html>
